header {
            background: #2c3e50;
            color: white;
            padding: 1rem 0;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 100;
        }

        nav {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding: 0 2rem;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        nav.hidden{
            display:none;
        }

        .logo {
            font-size: 1.8rem;
            font-weight: bold;
            color: #3498db;
            text-decoration: none;
        }

        .nav-menu {
            display: flex;
            list-style: none;
            gap: 2rem;
        }

        .nav-menu a {
            color: white;
            text-decoration: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            transition:  0,5s;
        }

        .nav-menu a:hover {
            background: #3498db;

        }
        
@media only screen and (min-height: 768px) {
    
}